* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

.input:focus {
    outline: 1px solid blue;
    border: 0;
}
@media only screen and (max-width: 600px) {
    .input {
      width: 100%;
    }
}

